# config.env — gnp-agent
# Ticket  : {{.TicketID}}
# Proyecto : {{.ProjectID}}
# Tarea    : {{.TaskType}}
# GENERADO AUTOMÁTICAMENTE — NO EDITAR

export TICKET_ID="{{.TicketID}}"
export PROJECT_ID="{{.ProjectID}}"
export TASK_TYPE="{{.TaskType}}"

# Principals (type:email)
PRINCIPALS={{bashArray .Members}}
{{- if .ProjectRoles}}

PROJECT_ROLES={{bashArray .ProjectRoles}}
{{- end}}
{{- if .BucketRoles}}

BUCKET_ROLES={{bashArray .BucketRoles}}
{{- end}}
{{- if .Buckets}}

BUCKETS={{bashArray .Buckets}}
{{- end}}
{{- if .SecretRoles}}

SECRET_ROLES={{bashArray .SecretRoles}}
SECRETS={{bashArray .Secrets}}
{{- end}}
{{- if .Topics}}

TOPICS={{bashArray .Topics}}
{{- end}}
{{- if .PubSubRoles}}

PUBSUB_ROLES={{bashArray .PubSubRoles}}
{{- end}}
{{- if .BigQueryRoles}}

BIGQUERY_ROLES={{bashArray .BigQueryRoles}}
{{- end}}
{{- if .Datasets}}

DATASETS={{bashArray .Datasets}}
{{- end}}
{{- if .Cluster}}

CLUSTER="{{.Cluster}}"
NAMESPACE="{{.Namespace}}"
KUBE_SECRET_NAME="{{.KubeSecretName}}"
{{- end}}
{{- if .APIs}}

APIS={{bashArray .APIs}}
{{- end}}
{{- if .Region}}

REGION="{{.Region}}"
{{- end}}
